@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
  font-family: sans-serif;
}
.app{
  background-color: #1f545c;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

h1, h2{
  font-weight: 100;
}

.session-length, .control-board {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  margin-top: 3rem;
}

.session-length .duration {
  margin-left: 50px;
  margin-right: 50px;
}

.counter-container {
  border: 5px solid #13363a;
  border-radius: 30px;
  width: 480px;
  margin: auto;
}

.counter-container h3 {
  font-size: 2rem;
  font-weight: 300;
  font-family: Orbitron, sans-serif;
  margin: 15px 0px 30px 0px;
}

.control-board div{
  margin-left: 30px;
  margin-right: 30px;
}